@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 16px;
  @media (max-width: 360px) {
    font-size: 12px;
  }
  @media (max-width: 576px) {
    font-size: 14px;
  }
}

body {
  margin-top: 96px;
  #root {
    min-height: calc(100vh - 107px);
    position: relative;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

nav {
  border-bottom: 1px solid black;
  transition: 0.3s ease;
  ul {
    transition: 0.5s;
    li.nav-item {
      padding: 0 1rem;

      a {
        color: $color-three;
      }
      &:hover {
        a {
          text-decoration: none;
          color: $header-color;
        }
      }
    }
  }
}

//logo menu//
.logo {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding: 20px 40px;
  letter-spacing: 1px;
}

.card-title {
  border-bottom: 1px solid $color-four;
  padding-bottom: 5px;
  font-size: 24px;
}

.card-body {
  font-size: 16px;
  padding: 20px;
}
.jumbotron-fluid {
  background-color: $header-color;
  p {
    font-size: 2rem;
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 3rem;
    }
  }
}

.img-fluid.img_gallery {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 20px solid #f0f2fb;
  transition: 0.3s;
  @media all and (min-width: 668px) {
    &.img_gallery:hover {
      transform: scale(1.4);
    }
  }
  @media all and (min-width: 577px) {
    &.img_gallery {
      width: 440px;
      height: 440px;
    }
    &.img_gallery:hover {
      transform: scale(1.2);
    }
  }
  @media all and (min-width: 415px) and (max-width: 576px) {
    &.img_gallery {
      width: 360px;
      height: 360px;
    }
  }
  @media all and (max-width: 414px) {
    &.img_gallery {
      width: 300px;
      height: 300px;
    }
  }
}

h3 {
  color: black;
  padding: 20px 0;
}

.btn.btn_gallery {
  padding: 10px 20px;
  background-color: $color-thirteen;
  color: black;
  transition: 0.3s;
  font-size: 1.1rem;
  &:hover {
    color: white;
    background-color: black;
  }
}

.fab {
  color: white;
  font-size: 30px;
  padding: 0 10px;
}

.card {
  overflow: hidden;
}
.card-body {
  background-color: #2b3c68;
  color: white;
  text-align: center;
  height: 180px;
}

#main {
  margin-top: 100px;
}

.jumbotron-fluid {
  .natural-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    .natural-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 186px;
      img {
        width: 100px;
      }
      p {
        font-size: 14px;
        margin-top: 1rem;
        text-align: center;
      }
    }
    @media (max-width: 768px) {
      flex-wrap: wrap;
      .natural-img {
        flex-basis: 40%;
      }
    }
  }
}

#about {
  .natural-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    img {
      width: 100px;
      height: auto;
      margin: 0 20px;
    }
    @media (max-width: 576px) {
      flex-wrap: wrap;
      img {
        flex-basis: 30%;
        transform: scale(0.8);
      }
    }
    @media (max-width: 360px) {
      img {
        transform: scale(0.7);
      }
    }
  }
}
