@import "./Variables.scss";

#basket {
  .basket-container {
    width: 100%;
  }
  .basket-start-img {
    width: 50px;
    height: auto;
    object-fit: cover;
  }
  .table {
    td {
      vertical-align: middle;
    }
    @media (max-width: 576px) {
    }
  }
  .btn-next {
    height: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: black;
    background-color: $header-color;
    border: none;
    transition: 0.3s;
    outline: none;
    border: none;
    box-shadow: none;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .btn-prev {
    height: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: black;
    background-color: $color-thirteen;
    border: none;
    transition: 0.3s;
    outline: none;
    border: none;
    box-shadow: none;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  .basketStep1 {
    padding: 2rem 0;
    width: 100%;
    .basket-step1-title {
      font-weight: bold;
      margin-bottom: 2rem;
    }
    form {
      input {
        border-radius: 0;
      }
      label {
        font-weight: bold;
      }
    }
    p {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      padding-right: 2rem;
    }
  }
  .basketStep-totalAmount {
    font-weight: bold;
  }

  .basketStep2 {
    padding: 2rem 0;
    h2 {
      font-weight: bold;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 576px) {
    .basket-column-rwd {
      display: none;
    }
  }

  .modalForm-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    .modalForm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 30%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-two;
      }
      .modalForm-btn {
        padding: 1rem 3rem;
        background-color: black;
        color: white;
        outline: none;
        box-shadow: none;
      }

      @media (max-width: 1200px) {
        width: 70%;
      }
      @media (max-width: 768px) {
        width: 90%;
        height: 30%;
      }
    }
  }
}
