@import "./Variables.scss";

#contact {
  .contact-left {
    background-color: #b4c6c5;
    h3 {
      color: white;
      font-weight: 500;
    }
    .contact-text--bold {
      font-weight: bold;
    }
  }
  .contact-right {
    h3 {
      color: black;
    }
  }
  .btn.btn_contact {
    background-color: $color-thirteen;
    color: black;
    padding: 0.8rem 0.6rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: none;
    transition: 0.3s;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  span {
    font-weight: bold;
  }

  .formInfo-error {
    font-size: 1.2rem;
    color: $color-two;
  }
  .formInfo-sent {
    font-size: 1.2rem;
    color: black;
  }
}
