@import "./Variables.scss";

#contact {
  .contact-left {
    background-color: #b4c6c5;
    h3 {
      color: white;
      font-weight: 500;
    }
    .contact-text--bold {
      // font-weight: bold;
    }
  }
  .contact-right {
    h3 {
      color: black;
    }
  }
  .btn.btn_contact {
    // background-color: black;
    background-color: $color-thirteen;
    color: black;
    padding: 0.8rem 0.6rem;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
      background-color: black;
      // border: 1px solid $color-thirteen;
      color: white;
    }
  }
}
