@import './Variables.scss';

#footer {
	// background-color: $color-footer-bg;
  background-color: $color-five;
  background-color: $color-six;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    text-decoration: none;
    .icon-social {
      font-size: 2rem;
      color: rgb(255, 255, 255);
      padding: 0 1rem;
    }
    &:hover {
      .icon-social {
        color:  $color-one;
      }
    }
	}
	.logo_footer {
		background-color: white;
		width: 100px;
		height: 100px;
	}
}