@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;600;700&display=swap");

$header-color: rgb(180, 198, 197);
$color-one: rgb(235, 202, 193);
$color-footer-bg: rgb(43, 60, 104);
$color-two: rgb(221, 84, 91);
$color-three: black;
$color-four: rgb(240, 242, 251);
//  $color-five: rgb(45,13,14);
$color-five: rgb(33, 9, 10);
$color-six: rgb(40, 64, 91);
$color-seven: #e4e5e4;
$color-eight: #d8cec7;
$color-nine: #e2e0dc;
$color-ten: #7f8867;
$color-eleven: #f1bc6d;
$color-twelve: #fff0e9;
$color-thirteen: #edc9cd;
