@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
  font-size: 16px;
}
body {
  margin-top: 96px;
}
nav {
  border-bottom: 1px solid black;
}
.logo {
  width: 70px;
  height: 70px;
}

.heading {
  text-align: center;
  padding: 20px 40px;
  letter-spacing: 1px;
}

.card-title {
  border-bottom: 1px solid #f0f2fb;
  padding-bottom: 5px;
  font-size: 24px;
}

.card-body {
  font-size: 16px;
  padding: 20px;
}
.jumbotron-fluid {
  background-color: #ebcac1;
}

.img_gallery {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 20px solid #f0f2fb;
  transition: 0.3s;
  @media all and (min-width: 668px) {
    .img_gallery:hover {
      transform: scale(1.4);
    }
  }
  @media all and (min-width: 577px) {
    .img_gallery {
      width: 440px;
      height: 440px;
    }
    .img_gallery:hover {
      transform: scale(1.2);
    }
  }
  @media all and (min-width: 415px) and (max-width: 576px) {
    .img_gallery {
      width: 360px;
      height: 360px;
    }
  }
  @media all and (max-width: 414px) {
    .img_gallery {
      width: 300px;
      height: 300px;
    }
  }
}

h3 {
  color: #dd545b;
  padding: 20px 0;
}

.btn_gallery {
  padding: 10px 20px;
  background-color: black;
  color: white;
  transition: 0.3s;
}

.btn_gallery:hover {
  font-size: 18px;
  background-color: transparent;
  color: #dd545b;
}

.btn_contact {
  background-color: black;
  color: white;
  padding: 10px 10px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn_contact:hover {
  background-color: #dd545b;
  font-size: 18px;
  color: black;
}

.fab {
  color: white;
  font-size: 30px;
  padding: 0 10px;
}

.logo_footer {
  width: 100px;
  height: 100px;
}
.card {
  overflow: hidden;
}
.card-body {
  background-color: #2b3c68;
  color: white;
  text-align: center;
  height: 180px;
}
//style React//

#main {
	margin-top: 100px;
}

#shop {
  .cosmetics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    .cosmetic-item {
      &--img {
        height: 200px;
        width: auto;
      }
      &--title {
        color: black;
        font-size: 16px;
        text-align: center;
      }
      &--capacity {
        text-align: center;
        font-size: 14px;
      }
      &--price {
        text-align: right;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}